<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Login Projeto</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../Fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../Fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../Css/dashboard.css">
<!--===============================================================================================-->
</head>
<header class="header" style="background-color: #03989E;">
    <div>
        <div class="teste">
            <a href="https://colorlib.com/wp/templates/" title="Switcher">
            <img class="logo" src="../images/logo.jpeg" alt="Colorlib logo">
            </a>
            <ul class="nav" style="float: right;">
                <li><a href="#na">Home</a></li>
                <li><a href="#nb">Mercado</a></li>
                <li><a href="#nc">Comércio</a></li>
                <li><a href="#nd">Indústria</a></li>
                <li><a href="#ne">Insumos</a></li>
                <li><a href="#nf">Rural</a></li>
                <li><a href="#ng">Contato</a></li>
            </ul>
        </div>
           
    </div>
</header>
<body style="background-color: #fcfcfc;">
   
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="home100-more">
				</div>
				<div class="menu-div">
                    <ul class="menu" style="float: left;">
                        <li> <button class="login100-form-btn">
                            Login
                            </button></li>
                        <li><a href="#nb">Mercado</a></li>
                        <li><a href="#nc">Comércio</a></li>
                        <li><a href="#nd">Indústria</a></li>
                        <li><a href="#ne">Insumos</a></li>
                        <li><a href="#nf">Rural</a></li>
                        <li><a href="#ng">Contato</a></li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
	
	
<!--===============================================================================================-->
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/daterangepicker/moment.min.js"></script>
	<script src="../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../js/main.js"></script>

</body>
</html>